scanpy==1.9.2
anndata==0.8.0 
bokeh==2.3.1
h5py==3.8.0
imageio==2.9.0   
leidenalg==0.9.1
matplotlib==3.7.0 
numpy==1.23.5
python-igraph==0.10.4
python-louvain==0.15 
scikit-learn==1.2.1 
scikit-network==0.28.3
scipy==1.10.1
seaborn==0.12.2
tqdm==4.64.1
umap-learn==0.5.3 
psutil==5.9.4
pandas==1.5.3
